<section class="dockMenu">
    <a class="dockName" href="/">
        Museum.TokyoSpy
    </a>
    <div class="dockButtonsContainer">
        <a class="dockButton" href="/news">Новости</a>
        <div class="dropdown">
            <a class="dockButton dropbtn">Залы</a>
            <div class="dropdown-content">
                <a href="/hall1">Зал 1</a>
                <a href="/hall2">Зал 2</a>
                <a href="/hall3">Зал 3</a>
                <a href="/hall4">Зал 4</a>
                <a href="/hall5">Зал 5</a>
            </div>
        </div>
        <a class="dockButton" href="/contacts">Контакты</a>
        <a class="dockButton" href="/admin">Администратор</a>
    </div>
</section>
<div class="separator"></div>