<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<section class="footer">
    <div class="footer_container">
        <div class="footer-icons">
            <a href="#" class="icon"><i class="fab fa-vk"></i></a>
            <a href="#" class="icon"><i class="fab fa-telegram"></i></a>
            <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</section>
<div class="separator"></div>