<div class="options" style="margin-bottom: 50px">
    <div class="option active" style='--optionBackground:url(assets/img1.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">Другой Зорге</div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(assets/img3.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">Роман Ким</div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(assets/img5.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">Ниндзя с Лубянки</div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(assets/img9.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">Тайна двух чемоданов</div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(assets/img10.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">В тени восходящего солнца</div>
            </div>
        </div>
    </div>
</div>
