<!--<div class="imageBar">-->
<!--    <div class="imageContainer one">-->
<!--        <img src="https://allegrobowling.ru/wp-content/uploads/f/7/9/f797c61ed9fa420803c6197fd7acc59b.jpeg">-->
<!--    </div>-->
<!--    <div class="imageContainer two">-->
<!--        <img src="https://sportishka.com/uploads/posts/2022-11/1667501039_14-sportishka-com-p-sportkar-lada-marusya-pinterest-15.jpg">-->
<!--    </div>-->
<!--    <div class="imageContainer three">-->
<!--        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">-->
<!--    </div>-->
<!--    <div class="imageContainer four">-->
<!--        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">-->
<!--    </div>-->
<!--    <div class="imageContainer five">-->
<!--        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">-->
<!--    </div>-->
<!--    <div class="points">-->
<!--        <div class="point one active"></div>-->
<!--        <div class="point two"></div>-->
<!--        <div class="point three"></div>-->
<!--        <div class="point four"></div>-->
<!--        <div class="point five"></div>-->
<!--    </div>-->
<!--</div>-->

<div class="options" style="margin-bottom: 50px">
    <div class="option active" style='--optionBackground:url(assets/img1.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">Другой Зорге</div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(assets/img3.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">Роман Ким</div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(assets/img5.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">Ниндзя с Лубянки</div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(assets/img9.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">Тайна двух чемоданов</div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(assets/img10.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="info">
                <div class="main">В тени восходящего солнца</div>
            </div>
        </div>
    </div>
</div>
