<!--<div class="imageBar">-->
<!--    <div class="imageContainer one">-->
<!--        <img src="https://allegrobowling.ru/wp-content/uploads/f/7/9/f797c61ed9fa420803c6197fd7acc59b.jpeg">-->
<!--    </div>-->
<!--    <div class="imageContainer two">-->
<!--        <img src="https://sportishka.com/uploads/posts/2022-11/1667501039_14-sportishka-com-p-sportkar-lada-marusya-pinterest-15.jpg">-->
<!--    </div>-->
<!--    <div class="imageContainer three">-->
<!--        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">-->
<!--    </div>-->
<!--    <div class="imageContainer four">-->
<!--        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">-->
<!--    </div>-->
<!--    <div class="imageContainer five">-->
<!--        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">-->
<!--    </div>-->
<!--    <div class="points">-->
<!--        <div class="point one active"></div>-->
<!--        <div class="point two"></div>-->
<!--        <div class="point three"></div>-->
<!--        <div class="point four"></div>-->
<!--        <div class="point five"></div>-->
<!--    </div>-->
<!--</div>-->

<div class="options">
    <div class="option active" style='--optionBackground:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="icon_carousel">
                <i class="fas fa-walking"></i>
            </div>
            <div class="info">
                <div class="main">Lorem</div>
                <div class="sub">Lorem ipsum dolor </div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="icon_carousel">
                <i class="fas fa-snowflake"></i>
            </div>
            <div class="info">
                <div class="main">Lorem</div>
                <div class="sub">Lorem ipsum dolor </div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="icon_carousel">
                <i class="fas fa-tree"></i>
            </div>
            <div class="info">
                <div class="main">Lorem</div>
                <div class="sub">Lorem ipsum dolor </div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="icon_carousel">
                <i class="fas fa-tint"></i>
            </div>
            <div class="info">
                <div class="main">Lorem</div>
                <div class="sub">Lorem ipsum dolor </div>
            </div>
        </div>
    </div>
    <div class="option" style='--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);'>
        <div class="shadow"></div>
        <div class="label">
            <div class="icon_carousel">
                <i class="fas fa-sun"></i>
            </div>
            <div class="info">
                <div class="main">Lorem</div>
                <div class="sub">Lorem ipsum dolor </div>
            </div>
        </div>
    </div>
</div>
