<div class="imageBar">
    <div class="imageContainer one">
        <img src="https://allegrobowling.ru/wp-content/uploads/f/7/9/f797c61ed9fa420803c6197fd7acc59b.jpeg">
    </div>
    <div class="imageContainer two">
        <img src="https://sportishka.com/uploads/posts/2022-11/1667501039_14-sportishka-com-p-sportkar-lada-marusya-pinterest-15.jpg">
    </div>
    <div class="imageContainer three">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">
    </div>
    <div class="imageContainer four">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">
    </div>
    <div class="imageContainer five">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Marussia-B2-prototype.jpg/1200px-Marussia-B2-prototype.jpg">
    </div>
    <div class="points">
        <div class="point one active"></div>
        <div class="point two"></div>
        <div class="point three"></div>
        <div class="point four"></div>
        <div class="point five"></div> 
    </div>
</div>
