<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музей "Шпионский токио"</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/carousel.css">
    <link rel="stylesheet" href="/mainsection.css">
</head>
<body>
<%- include('dockbar.ejs') %>
<div class="main-content">
    <%- include('mainsection.ejs') %>
    <%- include('imagebar.ejs') %>

</div>
<script src="/style.js"></script>
<script src="/carousel.js"></script>
</body>
<%- include('footer.ejs') %>
</html>
