<div class="image-container left" id="imageContainerLeft">
    <!-- Images for left side will be populated here -->
</div>
<div class="image-container right" id="imageContainerRight">
    <!-- Images for right side will be populated here -->
</div>