<section class="main-section">
    <div class="container_mainsection">
        <div class="top_space">
            <img class="photo_mainsection" src="images/author.jpg" alt="обложка">
            <div class="top_text_space">
                <p class="top_text">Об истории можно рассказывать в книгах и статьях, можно снимать о ней фильмы и
                    разглядывать музейные экспонаты - овеществленную память прошлого. Увлекательными бывают и сами
                    истории - о шпионах, например. О знаменитых или о необычных - таких как ниндзя. Увы, все музеи
                    ниндзя находятся далеко. Да и с музеями разведки дела в нашей стране не очень хороши. <br>
                    &nbsp;&nbsp;&nbsp;Поэтому мы представляем вам ВИРТУАЛЬНЫЙ МУЗЕЙ «ШПИОНСКИЙ ТОКИО».
                    Это действующий онлайн музей противостояния японских и отечественных спецслужб - от ниндзя до
                    Рихарда Зорге, основанный на коллекциях и изысканиях российских историков.
                </p>
            </div>
        </div>
    </div>
</section>