<section class="news-section">
    <div class="news-container">
        <% newsList.forEach(function(news) { %>
            <div class="news-item">
                <div class="fading-line"></div>
                <h2 class="news-title"><%= news.title %></h2>
                <p class="news-content"><%= news.text %></p>
            </div>
        <% }); %>
    </div>

    <% if (currentPage < totalPages) { %>
        <a href="/news?page=<%= currentPage + 1 %>">Показать еще</a>
    <% } %>

    <a href="/news">В начало</a>
</section>
