.imageBar {
    display: flex;
    align-items: center;
    position: relative;
    height: 400px;
    padding-top: 0px;
    width: 780px;
    margin: auto;
}

.imageContainer {
    position: absolute;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    transition: all 0.4s;
    box-shadow: 0 0 7px 1px dimgrey;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(0);
}

.imageContainer.one {
    width: 180px;
    height: 120px;
    filter: blur(5px);
    transform: translateX(600px);
    opacity: 0.5;
    z-index:1;
}

.imageContainer.two {
    width: 300px;
    height: 200px;
    filter: blur(2px);
    transform: translateX(390px);
    opacity: 0.5;
    z-index:2;
}

.imageContainer.three {
    width: 420px;
    height: 280px;
    filter: none;
    transform: translateX(180px);
    z-index:5;
}

.imageContainer.four {
    width: 300px;
    height: 200px;
    transform: translateX(90px);
    filter: blur(2px);
    opacity: 0.5;
    z-index:4;
}

.imageContainer.five {
    width: 180px;
    height: 120px;
    transform: translateX(0px);
    filter: blur(5px);
    opacity: 0.5;
    z-index:3;
}

.points {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.point {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.point.active {
    background-color: #000;
}


.credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
}
.options {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}
.option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.option:nth-child(1) {
    --defaultBackground: #ed5565;
}
.option:nth-child(2) {
    --defaultBackground: #fc6e51;
}
.option:nth-child(3) {
    --defaultBackground: #ffce54;
}
.option:nth-child(4) {
    --defaultBackground: #2ecc71;
}
.option:nth-child(5) {
    --defaultBackground: #5d9cec;
}
.option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
}
.option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.option.active .label {
    bottom: 20px;
    left: 20px;
}
.option.active .info > div {
    left: 0px;
    opacity: 1;
}
.option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
}
.option:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0 -120px black, inset 0 -120px 0 -100px black;
}
.option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}
.option:not(.active) .info > div {
    left: 20px;
    opacity: 0;
}
.shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}

.info > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.icon_carousel {
    font-size: 25px;
    color: white;
    margin-left: 9px;
}

.main {
    font-weight: bold;
    font-size: 1.2rem;
}
.sub {
    transition-delay: 0.1s;
}
