@font-face {
    font-family: 'Yandex';
    src: url('public/yandex.woff') format('woff'); /
}

html::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

html::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}


html::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Цвет трека скроллера */
    border-radius: 6px; /* Закругленные края трека */
}

.main-content {
    position: relative;
    top: calc(5vh + 12px);
    padding-bottom: 5vh;
}

/* Стили док-бара */
.dockMenu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 5vh;
    margin: 0;
    background-color: #fff; /* Белый цвет фона док-бара */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center; /* Центрируем содержимое по вертикали */
    transition: background-color 0.3s; /* Плавное изменение фона */
    color: #333; /* Темно-серый цвет текста */
    font-weight: bold;
}

/* Стили для кнопок */
.dockButton {
    margin-left: 20px; /* Отступ между кнопками */
    text-decoration: none;
    color: #333; /* Цвет текста */
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dockButtonsContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для выпадающего списка */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff; /* Цвет фона выпадающего списка */
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* При наведении на родительскую кнопку, показываем выпадающий список */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Горизонтальная линия */
.separator {
    background-color: #828282; /* Темно-серый цвет линии */
    height: 1px; /* Толщина линии */
    width: 0; /* Растягиваем на всю ширину */
    position: fixed;
    left: 50%;
    opacity: 0.5;
    top: calc(5vh + 20px); /* Располагаем под док-баром */
    z-index: 1001; /* Поверх остальных элементов */
    transition: all 1s; /* Добавляем анимацию изменения ширины и цвета фона */
}

/* Стили для док-бара при прокрутке */
.separator.scrolled {
    width: calc(100% - 40px);
    left: 20px;
    background-color: #333; /* Темно-серый цвет фона при прокрутке */
}

.dockName {
    margin-left: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: black; /* Белый цвет текста */
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.test {
    height: 2000px;
    width: 300px;
    /*background-color: green;*/
}


/* Футер */
.footer {
    position: relative;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(128, 128, 128);
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.icon {
    color: white;
    font-size: 1.5vw;
    margin: 0 1vw;
}

/* Mainsection */
.main-section {
    margin: 50px 0 50px;
    position: relative;
}

.container_mainsection {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #969494 40%, #dfdeda);
}

.text_mainsection {
    flex: 1;
}

.photo_mainsection {
    width: 400px;
    padding-top: 21px;
    padding-bottom: 10px;
}

.top_space {
    padding-left: 100px;
    padding-right: 90px;
    display: flex;
    justify-content: center;
    gap: 6%;
}

.top_text_space {
    vertical-align: middle;
}

.top_text {
    padding-left: 10px;
    padding-right: 10px;
    height: 492px;
    font-family: roboto, serif;
    color: #474747;
    text-align: justify;
    font-size: 21px;
    text-indent: 40px;
}